div.leia-default-object {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: gray;
}

div.leia-default-object-message {
    background: #ffc3c3;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
}

table.leia-default-object-contents {

}

table.leia-default-object-contents > tbody > tr:first-of-type > th {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
    text-align: left;
}