div.concept {
    padding: 4px;
    overflow-y: scroll;
    height: 100%;
}

div.concept > .concept-lineage-header > .concept-name {
    font-weight: bold;
}

table.concept-rows > tbody > tr.concept-row-local {

}

table.concept-rows > tbody > tr.concept-row-inherit {
    color: grey;
}

table.concept-rows > tbody > tr.concept-row-inherit a[is=content-link] {
    color: #56689d;
}

table.concept-rows > tbody > tr.concept-row-block {
    color: darkred;
}

table.concept-rows > tbody > tr.concept-row-block a[is=content-link] {
    color: darkred;
}

table.concept-rows > tbody > tr > td > button.concept-edit {
    font-size: 0.7em;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    margin-top: -1px;
}

div.concept-lineage-header {
    padding-left: 2px;
    padding-right: 2px;
}

div.concept-definition {
    padding-left: 2px;
    padding-right: 2px;
}

div.concept-definition > button.concept-edit {
    font-size: 0.7em;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    margin-top: -2.5px;
}

input.concept-definition-content {
    width: calc(100% - 24px);
}

.concept-definition-content.hidden {
    display: none;
}