div.ontology-tree-viewer ul {
    list-style-type: none;
}

div.ontology-tree-viewer > ul {
    margin: 0;
    padding: 0;
}

div.ontology-tree-viewer ul.nested {
    padding-left: 13px;
}

div.ontology-tree-viewer .caret {
    cursor: pointer;
    user-select: none;
}

div.ontology-tree-viewer .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
    font-size: small;
}

div.ontology-tree-viewer .caret-down::before {
    transform: rotate(90deg);
}