<ontology-sidebar class="ontology-sidebar">
    <div class="ontology-sidebar-header">
        <button class="ontology-sidebar-tree">Tree</button>
        <input class="ontology-sidebar-filter" type="text" placeholder="search" />
        <button is="help-button" class="ontology-sidebar-help"></button>
    </div>
    <div class="ontology-sidebar-tree-viewer">
        <ul>
            <li>
                <span class="caret" data-concept="ALL"></span>
                <a is="content-link" data-content-id="@ALL">@ALL</a>
            </li>
        </ul>
    </div>
    <div class="ontology-sidebar-search-results hidden"></div>
</ontology-sidebar>