ontology-sidebar {
    --fixed-ontology-sidebar-header-height: 25px;
}

div.ontology-sidebar {
    height: 100%;
}

div.ontology-sidebar-header {
    height: var(--fixed-ontology-sidebar-header-height);
    padding-top: 2px;
    padding-left: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #775779;
}

div.ontology-sidebar-tree-viewer {
    height: calc(100% - var(--fixed-ontology-sidebar-header-height));
    overflow-y: auto;
    padding: 2px;
    background-color: #c6a5cc;
}

div.ontology-sidebar-search-results {
    height: calc(100% - var(--fixed-ontology-sidebar-header-height));
    overflow-y: auto;
    padding: 2px;
    background-color: #c6a5cc;
}

div.ontology-sidebar-tree-viewer-container.hidden, div.ontology-sidebar-search-results.hidden {
    display: none;
}