properties-sidebar {
    --fixed-properties-sidebar-header-height: 25px;
}

div.properties-sidebar {
    height: 100%;
}

div.properties-sidebar-header {
    height: var(--fixed-properties-sidebar-header-height);
    padding-top: 2px;
    padding-left: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #796457;
}

input.properties-sidebar-filter {
    width: calc(100% - 25px);
}

div.properties-sidebar-tree-viewer-container {
    height: calc(100% - var(--fixed-properties-sidebar-header-height));
    background-color: #ccc;
}

div.properties-sidebar-search-results {
    height: calc(100% - var(--fixed-properties-sidebar-header-height));
    overflow-y: auto;
    padding: 4px;
    background-color: #ccc;
}

div.properties-sidebar-tree-viewer-container.hidden, div.properties-sidebar-search-results.hidden {
    display: none;
}